---
import FormLabel from "@components/auth/FormLabel.astro";
import LoginLayout from "@layouts/LoginLayout.astro";
---
<LoginLayout title="Iniciar Sesión - Nexus ERP">

    <div class="auth-header">
        <div class="brand-logo">
            <i class="ph-bold ph-hexagon"></i>
        </div>
        <h1>Bienvenido</h1>
        <p>Ingresa tus credenciales para acceder a Nexus ERP</p>
    </div>

    <form method="POST" class="auth-form"> 
        
        <FormLabel 
            title="Correo Electrónico" 
            icon="ph-envelope-simple" 
            type="email" 
            name="email"
            placeHolder="nombre@empresa.com"
            required={true}
        />

        <FormLabel 
            title="Contraseña" 
            icon="ph-lock-key" 
            type="password" 
            name="password"
            placeHolder="••••••••"
            required={true}
        />

        <div class="form-options">
            <label class="remember-me">
                <input type="checkbox">
                <span>Recordarme</span>
            </label>
            <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
        </div>

        <button type="submit" class="btn-primary">
            Iniciar Sesión
        </button>
    </form>

    <div class="auth-footer">
        <p>¿No tienes una cuenta? <a href="/register">Crear Cuenta</a></p>
    </div>
</LoginLayout>


<script type="module" src="/src/scripts/login"></script>
